doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body 
        h1 Home Page test volume oke
        each post in Posts 
            .post
            h2= post.title
            p Written by #{post.author} on #{post.createdAt}
            p= post.content
